:root {
    --color-selected: var(--ion-color-light);
}

ion-footer,
ion-toolbar {
    &.tab1Color {
        --ion-background-color: var(--ion-color-tab1-bg);
    }

    &.tab2Color {
        --ion-background-color: var(--ion-color-tab2-bg);
    }

    &.tab3Color {
        --ion-background-color: var(--ion-color-tab3-bg);
    }
}

ion-tab-bar {
    border-top-width: 0px;
}

ion-icon {
    &.big {
        width: 42px;
        height: 42px;
        font-size: 42px;
    }
}

ion-tab-button {
    &.tab1 {
        --background: var(--ion-color-tab1-bg);
        --color-selected: #fff;
        --color: #000;
    }

    &.tab2 {
        --background: var(--ion-color-tab2-bg);
        --color-selected: #fff;
        --color: #000;
    }

    &.tab3 {
        --background: var(--ion-color-tab3-bg);
        --color-selected: #fff;
        --color: #000;
    }
}
