/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



ion-item {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    &.alignRight {
        text-align: right;
    }

    &.white {
        --background: var(--ion-color-tab1-white-bg);
    }

    &.offwhite {
        --color: var(--ion-color-tab1-white-bg);
    }
}

ion-content,
ion-footer,
ion-toolbar {
    &.tab1Color {
        --ion-background-color: var(--ion-color-tab1-bg);
    }

    &.tab2Color {
        --ion-background-color: var(--ion-color-tab2-bg);
    }

    &.tab3Color {
        --ion-background-color: var(--ion-color-tab3-bg);
    }
}

ion-row {
    &.header {
        font-weight: bold;
        background-color: var(--ion-color-tab1-white-bg);
        border-bottom: var(--ion-color-tab2-bg) solid 4px;
        line-height: 39px;
    }
}

ion-col {
    &.middleCol {
        border-left: var(--ion-color-tab2-bg) solid 4px;
        border-right: var(--ion-color-tab2-bg) solid 4px;
    }
}

ion-toggle {
    --background: var(--ion-color-tab1-labels);
}

.odd {
    background-color: var(--ion-color-tab1-white-bg);
}

.even {
    background-color: var(--ion-color-tab1-offwhite-bg);
}

.alert-button.sc-ion-alert-md {
    color: var(--ion-color-alert-text) !important;
}

.alert-button.sc-ion-alert-ios {
    color: var(--ion-color-alert-text) !important;
}